body {
    background-image: url('https://images.pexels.com/photos/2387877/pexels-photo-2387877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.navbar {
    background-color: rgb(3, 26, 44);
}
/* @media (min-width: 576px) { 
.btn {
    background-color: lime;
    position: center;
    text-align: center;
    width:100%;
}
.card {
    width: 100%;
}
} */
.btn {
    background-color: lime;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(33, 34, 36);
    color: lime;
    text-align: center;
    margin: 60px;
    display: flex;
    justify-content: center;
}